<nav>
    <div class="container">
        <h1 class="logo">
            JerrySocial
        </h1>
        <div class="search-bar">
            <i class="uil uil-search"></i>
            <input type="search" placeholder="search for creators, inspiration and projects">
        </div>
        <div class="create">
            <label class="btn btn-primary" for="create-post">Create</label>
            <div class="profile-picture">
                <img src="../../../assets/images/profile-1.jpg" alt="photo de profil">
            </div>
        </div>
    </div>
</nav>