<div class="stories">
    <div class="story">
        <div class="profile-picture">
            <img src="../../../assets/images/profile-10.jpg">
        </div>
        <p class="name">Your story</p>
    </div>
    <div class="story">
        <div class="profile-picture">
            <img src="../../../assets/images/profile-9.jpg">
        </div>
        <p class="name">Lilla James</p>
    </div>
    <div class="story">
        <div class="profile-picture">
            <img src="../../../assets/images/profile-10.jpg">
        </div>
        <p class="name">Winnie Hale</p>
    </div>
    <div class="story">
        <div class="profile-picture">
            <img src="../../../assets/images/profile-11.jpg">
        </div>
        <p class="name">Daniel Bale</p>
    </div>
    <div class="story">
        <div class="profile-picture">
            <img src="../../../assets/images/profile-12.jpg">
        </div>
        <p class="name">Jane Doe</p>
    </div>
    <div class="story">
        <div class="profile-picture">
            <img src="../../../assets/images/profile-13.jpg">
        </div>
        <p class="name">Tina White</p>
    </div>
</div>
