$primary-color: hsl(252, 75%, 60%);
$secondary-color: hsl(252, 100%, 90%);
$background-color: #343a40;
$text-color: #f8f9fa;

// body {
//     background-color: $background-color;
//     color: $text-color;
// }