<div class="container-register">
    <form>
        <h2>Bienvenue sur JerrySocial !</h2>

        <h4>Inscription</h4>
        <label for="username">Nom d'utilisateur :</label><br>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="email">Votre email :</label><br>
        <input type="email" id="email" name="email" required>
        <br>
        <label for="password">Saisissez votre mot de passe :</label><br>
        <input type="password" id="password" name="password" required>
        <br>
        <label for="password2">Confirmer le mot de passe :</label><br>
        <input type="password2" id="password2" name="password2" required>
        <br>
        <input class="btn btn-primary" type="submit" value="S'inscrire">
        <br>
        <a routerLink="">Déjà un compte chez nous ?</a>
    
    </form>
</div>
